/* font-family: 'Noto Serif', serif;
font-family: 'Oswald', sans-serif; */


#hero, #sign-up  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1  {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

#description  {
  font-family: 'Noto Serif', serif;
  text-align: center;
  width: 50%;
}

/* ------------------------------------------------- */

#features-1, #features-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}